/* Color palette */

.color1 {color: #000002;}
.color2 {color: #172a3a;}
.color3 {color: #325975;}
.color4 {color: #4e91b9;}
.color5 {color: #6bd1ff;}
.white {color: #fff}

/* -- Overwrite -- */

.content-wrapper {
  background-color: #f4f4f4 !important;
}

.form-control {
  background-color: #fff !important;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo {
  background-color: #4e91b9 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: transparent;
}

.navbar {
  background-color: #4e91b9 !important;
}

.main-sidebar {
  background-color: #172a3a !important;
}

p {
  text-align: justify;
}

hr {
  border-top: 1px solid #ccc;
}

textarea {
  min-width: 30%;
  max-width: 100%;
  min-height: 35px;
  max-height: 350px;
}

/* -- ID -- */

#docSidePanel {
	overflow-y: scroll;
	max-height: 800px;
}

#docPanel {
  position: fixed;
  display: block;
  padding: 10px;
  height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
}

/* -- Classes -- */

.danger {
  color: white;
  background-color: red;
}

.disclaimer {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inputBox {
	border: 1px solid lightgrey;
	border-radius: 10px;
	padding: 3px;
	margin: 3px;
}

.topInputRow {
  background-color: #e6e6e6;
  border-radius: 10px 10px 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contentRow {
  background-color: #f6f6f6;
}

.coordinate-input {
  display: flex;
  align-items: baseline;
  background: lightgrey;
  width: fit-content;
  padding: 1px 1em 1px 2px;
  margin: 0.25em;
  border-radius: 5px;
}

.coordinate-input .form-group {
  margin-bottom: 2px;
  margin-top: 2px;
  width: fit-content;
}

.form-group.shiny-input-container.has-feedback {
  width: 300px !important;
}

.topInputRow span {
  display: inline-flex;
}

.leftMargin {
  border-left: solid lightgrey; 
  padding: 20px;
}

.modal-lg {
  width: 80%; 
}

.navSidebar {
  max-width: 75px;
  max-width: 100px;
  text-align: center;
  padding: 0;
}

.redButton {
	color: red;
}

.tag_sequence div {
  display: inline-block;
  color: white; 
  background-color: #3c8dbc; 
  border-radius: 3px;
  margin: 3px;
  width: max-content; 
  padding: 0 5px;
}

.text-title {
  display: inline-block;
  font-size:14pt;
  text-align:center;
}

.valid {
  color: green;
}

.wip {
  background: 
  repeating-linear-gradient(
    45deg,
    yellow,
    yellow 10px,
    black 10px,
    black 20px
  );
}

.wip * {
  background-color: white;
}