#docSidePanel {
	overflow-y: scroll;
	max-height: 800px;
}

#docMainPanel {
	overflow-y: scroll;
	max-height: 800px;
}

.redButton {
	color: red;
}

.inputBox {
	border: 1px solid lightgrey;
	margin: 5px;
	padding: 5px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.navSidebar {
  max-width: 75px;
  max-width: 100px;
	text-align: center;
	padding: 0;
}

.leftMargin {
  border-left: solid lightgrey; 
  padding: 20px;
}

.danger {
  color: white;
  background-color: red;
}

.valid {
  color: green;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea {
  min-width: 30%;
  max-width: 100%;
  min-height: 35px;
  max-height: 350px;
}
