#docSidePanel {
	overflow-y: scroll;
	max-height: 800px;
}

#docMainPanel {
	overflow-y: scroll;
	max-height: 800px;
}

.redButton {
	color: red;
}

.inputBox {
	border: 1px solid lightgrey;
	margin: 5px;
	padding: 5px;
  width: 100%;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}

.navSidebar {
	width: 100%;
	text-align: center;
	padding: 0;
}

.danger {
  color: red;
}

.valid {
  color: green;
}